
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.label-list {
  .label {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
  }
}
